:root {
  --primary-color: #f0f2f5;
  --secondary-color: #1877f2;
  --tertiary-color: #e4e6eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--primary-color);
}

.login-link {
  text-decoration: underline;
  margin-left: 6px;
  cursor: pointer;
}

.img-round{
  border-radius: 12px;
}
